*{
  box-sizing: border-box;
}

html{
  margin: 0;
  padding: 0;
}


.wrapper{
  display: flex;
  flex-direction: column;
}
.header{
  padding: 5px;
  text-align: center;
  background: #aabbcc;
  color :white;
}

.navbar{
  display: flex;
  background-color: #333;
  color: #999;
}

.navbar a{
  color: white;
  padding: 5px 10px;
  text-decoration: none;
  text-align: center;
}

.navbar a:hover{
  font-size: larger ;
  color: grey;
}


.row {
  padding: 0px 30px;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  padding: 20px;
  flex: 1;
}

.centered-content{
  display: flex;
  justify-content: center;
  align-items: center;

}


input[type=text], select
  {
  width: 50%;
  padding: 10px 12px;
  margin: 8px 0;
  display: inline-block;
  /* border: 1px solid #ccc; */
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
  /* background-color: #f1f1f1; */

}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

i{
  padding: 5px;
}


textarea{
  border-radius: 5px;
  width: 80%;
  height : 60px;
  /* transition: all 0.5s; */
}

.close-icon{
  position: absolute;
  top: 8px; 
  right: 8px;
  cursor: pointer;
}

.comments{
  padding: 6px;
  margin-top: 12px; 
}

.comment-card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  position : relative;
  border : 1px solid grey; 
  transition: 0.3s;
  width: 100%;
  border-radius: 4px;
  /* padding: 30px 2px 0px 2px; */
  margin-top: 10px;

}

.comment-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.comment-container {
}

.comment-info{
  /* position: absolute; */
  /* top: 1px; */
  /* right: 2px; */
  display: flex;
  justify-content: flex-end;
  font-size: 12px;
  color: grey;
}

.comment-created-at{
  align-self: center;
}

.user-comment{
  padding: 0px 3px;
}